<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Ogrenci Duzenleme</title>
</head>
<body>
<div align="center">
    <h1>Ogrenci Duzenleme</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${sinif}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Ogrenci ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Ogrenci Ismi:</td>
                <td>
                    <input type="text" th:field="*{isim}" />
                </td>
            </tr>
            <tr>
                <td>Ogrenci Soyismi:</td>
                <td><input type="text" th:field="*{soyisim}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>